{% extends 'base.html' %}
{% block header %}
    <h1>Edit Inventory Item</h1>
{% endblock %}
{% block content %}
{% if item %}
    <form method="post">
        <div class="form-group">
            <label>SKU</label>
            <input type="text" name="sku" value="{{item.sku}}"/>
        </div>
        <div class="form-group">
            <label>Name</label>
            <input type="text" name="name" value="{{item.name}}"/>
        </div>
        <div class="form-group">
            <label>Description</label>
            <input type="text" name="description" value="{{item.description}}"/>
        </div>
        <div class="form-group">
            <label>Purchase_Date</label>
            <input type="text"name="purchase_date" value="{{item.date}}"/>
        </div>
        <div class="form-group">
            <label>Quantity</label>
            <input type="text" name="quantity" value="{{item.quantity}}"/>
        </div>
        <div class="form-group">
            <label>Cost</label>
            <input type="text" name="cost" value="{{item.cost}}"/>
        </div>
        <div class="form-group">
            <label>Reorder_Level</label>
            <input type="text" name="reorder_level" value="{{item.reorder}}"/>
        </div>
        <button type="submit" class="btn btn-primary">Save Item</button>
    </form>
 {% else %}
    <h2>No inventory item with that id found</h2>
 {% endif %}   
{% endblock %}







