{% extends 'base.html' %}
{% block header %}
    <h1>Inventory List</h1>
{% endblock %}
{% block content %}

<table class="table">
    <thead>
         <th>id</th>
         <th>sku</th> 
         <th>name</th>   
         <th>description</th>
         <th>date</th>   
         <th>quantity</th>  
         <th>cost</th>  
         <th>reorder_level</th>  
         <th></th>
    </thead>
    <tbody>
        {% for item in inventories %}
        <form action="/inventories/{{item.id}}/delete" method="post">
        <tr>
            <td> {{ item.id }}</td>
            <td> {{ item.sku }}</td>
            <td> {{ item.name }}</td>
            <td> {{ item.description }}</td>
            <td> {{ item.date }}</td>
            <td> {{ item.quantity }}</td>
            <td> {{ item.cost }}</td>
            <td> {{ item.reorder_level }}</td>
            
            <td>
            <a href="/inventories/{{item.id}}" class="btn btn-success btn-md">
                <span class="glyphicon glyphicon-pencil"></span> Edit 
                </a> 
                <button type="submit" name="delete" value="{{item.id}}" class="btn btn-danger btn-md">Delete</button>
            </td>            
        </tr>
        </form>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
